@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- WRAPPER -->
<div id="wrapper">

	<div id="blog">

		<!-- PAGE TITLE -->
		<header id="page-title">
			<div class="container">
				<h1>Navigation Menu</h1>
				<ul class="breadcrumb">
					<li><a href="@Url.Action("Index","Home")">Home</a></li>
					<li class="active">Test Driven Design</li>
				</ul>
			</div>
		</header>

		<section class="container">
			<div class="row">
				<div class="col-md-9">

					<!-- blog item 1 -->
					<div class="item">

						<!-- article title -->
						<div class="item-title">
							<h2><a href="@Url.Action("Fundamentals","TestDriven")">Part 1: Test Fundamentals</a></h2>
							<span class="label label-default light">October 28, 2015</span>
						</div>

						<!-- blog short preview -->
						<p>
							Test driven development, also known as TDD, is an approach to building software that helps you think about what you are building from a different perspective.
							Unit tests are created step by step until your system begans to be put together piece by piece.  My preference is using 3 Nuget packages to write unit tests, they are
							NUnit, NUnit Adapter and Fluent Assertions...
						</p>

						<!-- read more button -->
						<a href="@Url.Action("Fundamentals","TestDriven")" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

					</div>
					<!-- /blog item 1 -->
					
					<!-- blog item 2 -->
					<div class="item">

						<!-- article title -->
						<div class="item-title">
							<h2><a href="@Url.Action("CaseStudy1","TestDriven")">Case Study 1: Aisle Finder</a></h2>
							<span class="label label-default light">October 28, 2015</span>
						</div>


						<!-- blog short preview -->
						<p>
							Enough with theory and reading material. In this section we will use TDD to create a mobile app starting with test driven development.  Our goal is to solve a problem a person is having and then coming up with a solution...
						</p>

						<!-- read more button -->
						<a href="@Url.Action("CaseStudy1","TestDriven")" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

					</div>
					<!-- /blog item 2 -->

					<!-- blog item 3 -->
					@*<div class="item">

						<!-- article title -->
						<div class="item-title">
							<h2><a href="blog-post.html">This is a Video Post</a></h2>
							<a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
							<a href="blog-post.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
							<span class="label label-default light">June 29, 2014</span>
						</div>

						<!-- vido -->
						<iframe class="fitvids" src="https://player.vimeo.com/video/70984663" width="800" height="450"></iframe>

						<!-- blog short preview -->
						<p>
							Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						</p>

						<!-- read more button -->
						<a href="blog-post.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

					</div>*@
					<!-- /blog item 3 -->

					<!-- blog item 4 -->
					@*<div class="item">

						<!-- article title -->
						<div class="item-title">
							<h2><a href="blog-post.html">Blog Post With Text Only</a></h2>
							<a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
							<a href="blog-post.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
							<span class="label label-default light">June 29, 2014</span>
						</div>

						<!-- blog short preview -->
						<p>
							Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
						</p>

						<!-- read more button -->
						<a href="blog-post.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

					</div>*@
					<!-- /blog item 4 -->

					<!-- blog item -->
					@*<div class="item">

						<!-- article title -->
						<div class="item-title">
							<h2><a href="blog-post.html">This is an Audio Post</a></h2>
							<a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
							<a href="blog-post.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
							<span class="label label-default light">June 29, 2014</span>
						</div>

						<!-- audio -->
						<iframe class="fullwidth" height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62974792&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>

						<!-- blog short preview -->
						<p>
							Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
						</p>

						<!-- read more button -->
						<a href="blog-post.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>

					</div>*@
					<!-- /blog item -->

					<!-- PAGINATION -->
					@*<div class="text-center">
						<ul class="pagination">
							<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
						</ul>
					</div>*@
					<!-- /PAGINATION -->

				</div>

				<div class="col-md-3">


					<!-- blog search -->
					<div class="widget">

						<h3>BLOG SEARCH</h3>

						<form method="get" action="#" class="input-group">
							<input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." />
							<span class="input-group-btn">
								<button class="btn btn-primary"><i class="fa fa-search"></i></button>
							</span>
						</form>
					</div>

				</div>
			</div>

		</section>

	</div>
</div>
<!-- /WRAPPER -->
