@using ResearchCoders.WebUI.Helpers.Language
@{
    ViewBag.Title = "Index";
}

<!-- slider_revolution To Change Slider Height go to file slider_revolution.js -->

<!-- WRAPPER -->
<div id="wrapper">

	<!-- REVOLUTION SLIDER -->
	<div class="fullwidthbanner-container roundedcorners" >
		<div class="fullwidthbanner">
			<ul>

				<!-- SLIDE -->
				<li data-transition="incube-horizontal" data-slotamount="5" data-masterspeed="700">

					<!-- COVER IMAGE -->
					<img src="~/Content/assets/images/demo/revolution_slider/banner1.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

					<div class="tp-caption large_text sft"
						 data-x="center"
						 data-y="130"
						 data-speed="300"
						 data-start="1000"
						 data-endspeed="500"
						 data-easing="easeOutBack">
						<h1>@Resource.HomePageSliderText1</h1>
					</div>

					<div class="tp-caption large_text sft"
						 data-x="center"
						 data-y="260"
						 data-speed="300"
						 data-start="1700"
						 data-endspeed="500"
						 data-easing="easeOutBack">
						<h2>@Resource.HomePageSliderText2</h2>
					</div>

					@*<div class="tp-caption large_text sft"
						 data-x="center"
						 data-y="360"
						 data-customin="x:-150;y:-280;z:0;rotationX:-140;rotationY:-280;rotationZ:-220;scaleX:1.5;scaleY:0;skewX:57;skewY:60;opacity:0;transformPerspective:600;transformOrigin:120% 190%;"
						 data-customout="x:-450;y:-430;z:-30;rotationX:90;rotationY:-290;rotationZ:-20;scaleX:1;scaleY:2.8;skewX:59;skewY:4;opacity:0;transformPerspective:600;transformOrigin:70% 0%;"
						 data-speed="1500"
						 data-endspeed="500"
						 data-start="2700"
						 data-endeasing="Bounce.easeOut"
						 data-easing="Back.easeInOut">
						<a class="btn btn-primary btn-lg circle tp-shadow1" target="_blank" href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527">BUY ATROPOS</a>
					</div>*@

				</li>

			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
	<!-- /REVOLUTION SLIDER -->

	<!-- CAROUSEL -->
	<section class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- PORTFOLIO scouter-600x403-->
				<section id="portfolio">
					<div class="row">
							<ul class="sort-destination isotope" data-sort-id="isotope-list">
								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										@*<h4>Test Driven Design</h4>*@
										<figure>
											<a class="item-hover" href="@Url.Action("Index","TestDriven")">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>@Resource.GlobalRead</strong> @Resource.GlobalMore
												</span>
											</a>
											<img alt="" class="img-responsive" src="~/img/homepage/testdriven.jpg" />
										</figure>
										<div class="item-box-desc">
											<h4>@Resource.HomePageHeaderBox1</h4>
											<small class="styleColor">@Resource.HomePageHeaderBox1Date</small>
											<p>@Resource.HomePageHeaderBox1Preview</p>
										</div>
									</div>
									<!-- /item -->
								</li>

								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="@Url.Action("Index","SolidDesign")">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>@Resource.GlobalRead</strong> @Resource.GlobalMore
												</span>
											</a>
											<img class="img-responsive" src="~/img/homepage/solid.jpg" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>@Resource.HomePageHeaderBox2</h4>
											<small class="styleColor">@Resource.HomePageHeaderBox2Date</small>
											<p>@Resource.HomePageHeaderBox2Preview</p>
										</div>
									</div>
								</li>

								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="@Url.Action("Index","Mobile")">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>@Resource.GlobalRead</strong> @Resource.GlobalMore
												</span>
											</a>


											<img class="img-responsive" src="~/img/homepage/mobile.jpg" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>@Resource.HomePageHeaderBox3</h4>
											<small class="styleColor">@Resource.HomePageHeaderBox3Date</small>
											<p>@Resource.HomePageHeaderBox3Preview</p>
										</div>
									</div>
								</li>

								<li class="isotope-item col-sm-6 col-md-3 development">
									<!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="@Url.Action("Index","DesignPattern")">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>@Resource.GlobalRead</strong> @Resource.GlobalMore
												</span>
											</a>
											<img class="img-responsive" src="~/img/homepage/designPatterns.jpg" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>@Resource.HomePageHeaderBox4</h4>
											<small class="styleColor">@Resource.HomePageHeaderBox4Date</small>
											<p>@Resource.HomePageHeaderBox4Preview</p>
										</div>
									</div>
								</li>
							</ul>

						</div>
				</section>
				<!-- /PORTFOLIO -->
			</div>

		</div>
	</section>
	<!-- /CAROUSEL -->

</div>
<!-- /WRAPPER -->